.carrossel-container {
  overflow: hidden;
  width: 100%;
}

.carrossel-slide {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.carrossel-img {
  max-width: 22rem;
  max-height: 30rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

@media (max-width: 560px) {
  .carrossel-img {
    max-width: 15rem;
    max-height: 20rem;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
